# .env.production.example
# Example environment variables for production

# PostgreSQL configuration
PGHOST=your-production-db-host
PGPORT=5432
PGUSER=your_prod_db_user
PGPASSWORD=your_prod_db_password
PGDATABASE=hc_rails_starter_production

# Slack configuration
SLACK_CLIENT_ID=your-production-slack-client-id
SLACK_CLIENT_SECRET=your-production-slack-client-secret
SLACK_BOT_TOKEN=your-production-slack-bot-token

# Mailer configuration
EMAIL_FROM=from@example.com

REDIS_URL=redis://your-production-redis-host:6379/1

# Uncomment and set if using Sidekiq Web UI authentication
# SIDEKIQ_USERNAME=admin
# SIDEKIQ_PASSWORD=secret
# Mailer configuration
EMAIL_FROM=from@example.com
