<%= form_with model: [@project, Kudo.new], class: "space-y-4" do |f| %>
  <div class="space-y-2">
    <%= f.label :content, "Give kudos to #{@project.title}", class: "block text-2xl wrap-break-word" %>
    <%= f.text_area :content,
          class: "input w-full",
          placeholder: "Write something awesome about this #{@project.title}...",
          rows: 3,
          required: true %>
  </div>
  <div class="flex justify-end">
    <%= f.submit "Send kudos", class: "btn btn-primary" %>
  </div>
<% end %>
