<%= render "shared/card" do %>
  <div class="">
    <h2 class="text-3xl">Announcements</h2>
  </div>
  <div class="flex items-center justify-center grow text-center">
    <p>It's pretty quiet in here...<br>Check back later!</p>
  </div>
<%end %>