<%= render "shared/card", class: "col-span-2 min-h-84 h-full" do %>
  <div class="">
    <h2 class="text-3xl">Your projects</h2>
  </div>
  <div class="flex flex-col items-center justify-center text-center grow space-y-6">
    <p>It's looking pretty empty...<br>You should change that!</p>
    <%= render "shared/button", text: "+ Create your first project" %>
  </div>
<% end %>