<% tasks = current_user.tasks.task_requirements %>

<%= render "shared/card" do %>
  <div class="absolute size-32 bg-red-200/25 -right-1 -top-3 -rotate-5">
    stickers go here
  </div>
  <div class="">
    <h2 class="text-3xl">Your tasks</h2>
    <p>Get stickers when you finish!</p>
  </div>
  <div class="space-y-4">
    <% tasks.each do |name, task| %>
      <div class="text-xl border-0 flex items-center space-x-4">
        <div class="border-2 size-4"></div>
        <button type="button" 
        data-controller="modal"
        data-modal-target-id-value="slack-join"
        data-action="click->modal#show"
        class="underline underline-offset-2"><%= task[:msg] %></button>
      </div>
    <% end %>
  </div>
  <p class="text-right -mb-2 -mr-2">Click on a task to begin!</p>
<% end %>

<div 
  data-controller="modal"
  data-action="modal:show-slack-join@window->modal#show modal:hide-slack-join@window->modal#hide modal:toggle-slack-join@window->modal#toggle"
  class="hidden absolute inset-0">
  <div class="absolute inset-0 flex items-center justify-center p-4">
    <%= render "shared/card", html_options: { data: { modal_target: "panel" } }, class: "z-50 min-w-xl space-y-0" do %>
      <div data-modal-target="step" class="space-y-6">
        <div>
          <p class="text-3xl">Join the Hack Club Slack</p>
          <p>Slack is where Hack Club communicates!</p>
        </div>
        <div class="bg-gray-500 aspect-video"> placeholder image</div>
        <%= render "shared/button", 
            text: "Join the Slack!",
            class: "w-full", html_options: { data: { action: "click->modal#next" } } 
            %>
      </div>
      <div data-modal-target="step" class="space-y-2">
        <div>
          <p class="text-2xl">Join the Hack Club Slack 2</p>
          <p>Slack is where Hack Club communicates!</p>
        </div>
        <div class="bg-gray-500 aspect-video"> placeholder image</div>
        <button type="button" data-action="click->modal#hide">Close</button>
      </div>
    <% end %>
    <div data-modal-target="overlay" class="fixed inset-0 bg-black/50 z-40"></div>
  </div>
</div>