<section class="flex justify-center">
  <div class="w-full max-w-6xl space-y-4">
    <div class="py-2 md:py-4 space-y-1">
      <h1 class="text-3xl md:text-5xl">Home</h1>
      <p class="text-lg md:text-xl">Here's what's cooking today</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
      <% unless current_user.tasks.completed? %>
        <%= render 'shared/card', class: 'col-span-1 md:col-span-2' do %>
            <p class="text-2xl md:text-3xl">Hey! Welcome to Blueprint</p>
            <a href="/docs" class="text-lg md:text-2xl bg-bp-warning text-bp-dark grow px-6 md:px-8 text-center py-3 md:py-1 rounded min-h-[44px] flex items-center justify-center">
              Start Here!
            </a>        
        <% end %>
      <% end %>
      <%= render 'tasks' %>
      <%= render 'announcements' %>
      <%= render 'projects' %>
    </div>
  </div>
</section>
