<section class="flex justify-center">
  <div class="w-full max-w-6xl space-y-4">
    <div class="py-4">
      <h1 class="text-5xl">Home</h1>
      <p class="text-xl">Here's what's cooking today</p>
    </div>
    <div class="grid grid-cols-2">
      <%= render 'tasks' %>
    </div>
  </div>
</section>
