<!-- DEBUG: @projects.count = <%= @projects.count %> -->
<%= turbo_frame_tag "explore-page-#{@pagy.page}", class: "grid grid-cols-1 gap-4 md:gap-6 md:grid-cols-3" do %>
    <%= render partial: 'explore_project', collection: @projects, as: :project, cached: false %>
    <div class="col-span-3">
        <%= render partial: 'explore_next_projects', locals: { pagy: @pagy } if @pagy.present? && @pagy.pages > 1 %>
    </div>
<% end %>