<section class="flex justify-center grow">
  <div class="w-full max-w-6xl space-y-4 min-h-full flex flex-col">
    <div class="py-4 space-y-1">
      <h1 class="text-5xl">Your projects</h1>
      <p class="text-xl">What are you gonna build today?</p>
    </div>
    <div class="m-4 mt-0 grow flex flex-col space-y-4 items-center justify-center max-h-96">
      <p class="text-2xl">Hmm... Nothing's here yet.</p>
      <%= render "shared/button", text: "+ Create your first project" %>
    </div>
  </div>
</section>
