<section class="flex flex-col items-center grow space-y-6">
  <%= link_to "â† Back", projects_path, class: "text-xl mr-auto" %>
  <div class="w-full max-w-3xl space-y-4 min-h-full flex flex-col">
    <%= render "shared/card" do %>
      <h1 class="text-4xl">Start a new project</h1>
      <%= render "form" %>
    <% end %>
  </div>
</section>
