<section class="flex flex-col items-center grow space-y-6">
  <div class="w-full max-w-3xl min-h-full flex flex-col m-8 space-y-8">
      <%= render "shared/card", class: "flex flex-col space-y-6" do %>
        <div class="space-y-2 -mt-4 -mx-6 p-6 pb-0">
          <p class="text-3xl">Identity Verification needed</p>
          <p class="text-lg text-bp-muted">Hack Club has given out over $1M in grants to teens like you, and with that comes a lot of adults trying to slip in.</p>
        </div>
        <div>
            <p>We need to verify that you are 13-18 (inclusive) to be eligible for Blueprint.</p>
            <p>Blueprint will only have access to your legal name and address in order to ship you prizes.</p>
        </div>
        <%= render "shared/button", text: "Verify Identity", url: @idv_link %>
      <% end %>
  </div>
</section>
